<launch>

	<arg name="camera_frame_id" default="fisheye_cam" />
	<arg name="camera_info_url" default="file:///home/hirolab/.ros/camera_info/fisheye.yaml" />

	<node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="$(arg camera_frame_id)" />
		<param name="camera_info_url" value="$(arg camera_info_url)" />
		<param name="io_method" value="mmap"/>
		<param name="framerate" value="30"/>
	</node>

	</launch>